# Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# Intermediate documents:
*.dvi
*.xdv
*-converted-to.*

# Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Auxiliary and intermediate files from other packages:
# algorithms
*.alg
*.loa

# amsthm
*.thm

# beamer
*.nav
*.pre
*.snm
*.vrb

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs

# gnuplottex
*-gnuplottex-*

# hyperref
*.brf

# index files
*.idx
*.ilg
*.ind
*.ist

# minitoc
*.maf
*.mlf
*.mlt
*.mtc[0-9]*
*.slf[0-9]*
*.slt[0-9]*
*.stc[0-9]*

# minted
_minted*
*.pyg

# nomencl
*.nlg
*.nlo
*.nls

# xy-pic precompiled matrices
*.xyc

# Editors/IDEs:
*.bak
*.sav
.texpadtmp
*.lyx~
*.backup
*~[0-9]*
./auto/*
*.el
*.tex~
*.tex.backup
.vscode/

# Keep the compiled PDF (Optional: uncomment if you want to ignore compiled PDFs too)
# *.pdf
